<html lang="en">

<!-- Adding head Partail file -->
<%- include('../partials/head.ejs')%>
<!-- END -->

<body>

    <!-- Adding a Partail file -->
    <%- include('../partials/navbar.ejs')%>
    <!-- END -->

    <div class="not-Found content">
        <h3>OOPs error....</h3>
        <p>Page Not Found</p>
    </div>
    
</body>
</html>
