<html lang="en">

<!-- Adding head Partail file -->
<%- include('../partials/head.ejs')%>
<!-- END -->

<body>
    <!-- Adding a Partail file -->
    <%- include('../partials/navbar.ejs')%>
    <!-- END -->

    <div class="about content">
        <h3>About us</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde nostrum ea quam culpa neque ab nemo inventore dolorem.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde nostrum ea quam culpa neque ab nemo inventore dolorem.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde nostrum ea quam culpa neque ab nemo inventore dolorem.</p>
    </div>
    
</body>
</html>
